.banner {
	background: url(../../assets/banner.jpeg);
    background-size: cover;
	background-position: center;
	height: 72vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

    &__text {
        color: $color-quaternary;
    }

    &--accent {
        color: $heading-accent;
        // color: $color-tertiary;
        font-weight: $light;

        &-top {
            color: $color-quaternary;
            font-weight: $light;
        }
    }

}

.banner-container {
    display: flex;
    align-items:flex-end;
    color: $color-quaternary;
}

.fed-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
}

@media (max-width: 520px) {
    .banner-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .fed-container {
        margin-left: 0;
    }

}