.main-nav {
    max-width: 550px;
    margin: 0 auto;
}

.nav {
    display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	font-weight: $regular;
	margin-right: auto;
	flex-wrap: wrap;
    font-size: 1rem;
    align-items: center;
    

    &__item {
        margin: 22.5px 0;
        
        & a {
            transition: 0.1s all;

            &:hover {
                color: $color-tertiary;
                padding-bottom: 17px;
                border-bottom: 5px solid $color-tertiary;
            }
        }
    }

    &__logo {
        margin-top: 22.5px;
        margin-bottom: 22.5px;
    }
}

@media (max-width: 325px) {
    .nav {
        font-size: 0.9375rem;
    }
}