.social-nav {
    height: 50px;
    background-color: #222533;
    display: flex;
    justify-content: center;
    align-items: center;

    & i {
        color: $color-quaternary;
        margin: 0 15px;
        font-size: 1.25rem;
        transition: 0.2s color;

        &:hover {
            color: $color-accent;
        }
    }
}

.main-nav {
    max-width: 550px;
    margin: 0 auto;
}

.nav {
    display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	font-weight: $regular;
	margin-right: auto;
	flex-wrap: wrap;
    font-size: 1rem;
    align-items: center;
    

    &__item {
        margin: 22.5px 0;
        
        & a {
            transition: 0.1s all;

            &:hover {
                color: $color-accent;
                padding-bottom: 17px;
                border-bottom: 5px solid $color-accent;
            }
        }
    }

    &__logo {
        margin-top: 22.5px;
        margin-bottom: 22.5px;
    }
}

@media (max-width: 325px) {
    .nav {
        font-size: 0.9375rem;
    }
}