// fonts
$base-font: 'Lato', sans-serif;

// font weights
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

// colors
$color-primary: #2c3e50;
$color-secondary: #a1b1bc;
$color-tertiary: #21c2f8;
$color-quaternary: #fff;

// accents
$photo-border: #ecf0f1;
$box-shadow: #b2b2b8;

// background
$primary-background: #222533;
$main-background: #FCFCFC;

// tools colors
$css3-color: #3D8FC6;
$html5-color: #E54D26;
$sass-color: #CC6699;
$jquery-color: #0868AC;
$javascript-color: #F0DB4F;
$react-color: #61DAFB;
$gulp-color: #EB4A4B;
$git-color: #F34F29;
