// fonts
$base-font: 'Lato', sans-serif;

// font weights
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

// colors
$color-primary: #2c3e50;
$color-secondary: #a1b1bc;
$color-tertiary: #21c2f8;
$color-quaternary: #fff;

// accents
$color-accent: #1abc9c;
$photo-border: #ecf0f1;
$heading-accent: #00ffcd;
$box-shadow: #b2b2b8;

// background
$primary-background: #222533;
$main-background: #FCFCFC;