article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100%; }

body {
  font-family: "Lato", sans-serif;
  background-color: #FCFCFC; }

.wrapper {
  max-width: 92.139%;
  margin: 0 auto; }

h1,
h2,
.section-heading--light,
h3 {
  margin: 0; }

h1,
h2,
.section-heading--light {
  text-align: center; }

p {
  margin: 0;
  line-height: 1.714;
  font-weight: 400;
  color: #a1b1bc;
  font-size: 1rem; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #2c3e50; }

h1 {
  font-size: 2.5rem; }

h2, .section-heading--light {
  color: #2c3e50;
  text-transform: uppercase;
  font-size: 1.875rem;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.1rem; }

h3 {
  font-size: 1rem; }

.section-heading--light {
  color: #fff; }

.accent-circle, .accent-circle-top, .accent-circle-bottom {
  width: 76px;
  height: 76px;
  background-color: #FCFCFC;
  border-radius: 50%; }

.skills-circle {
  width: 100px;
  height: 100px;
  background-color: #FCFCFC;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 5px solid #a1b1bc;
  margin: 25px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all; }
  .skills-circle:hover {
    background: #21c2f8;
    color: #fff;
    border: 2px solid #21c2f8; }

.accent-circle-top {
  position: relative;
  top: -36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.accent-circle-bottom {
  position: relative;
  bottom: -104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.inner-circle {
  width: 45px;
  height: 45px;
  background-color: #21c2f8;
  border-radius: 50%; }

.btn, .btn__about {
  padding: 10px 24px;
  font-size: 0.875rem;
  background: #fff;
  border: 2px solid #2c3e50;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  color: #2c3e50;
  -webkit-transition: 0.2s all;
  transition: 0.2s all; }
  .btn__about {
    margin-bottom: 7px; }
  .btn:hover, .btn__about:hover {
    background: #21c2f8;
    color: #fff;
    border: 2px solid #21c2f8; }

footer {
  background-color: #222533;
  text-align: center; }
  footer p {
    padding-bottom: 10px; }

.social-nav {
  height: 50px;
  background-color: #222533;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .social-nav i {
    color: #fff;
    margin: 0 15px;
    font-size: 1.25rem;
    -webkit-transition: 0.2s color;
    transition: 0.2s color; }
    .social-nav i:hover {
      color: #1abc9c; }

.main-nav {
  max-width: 550px;
  margin: 0 auto; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  font-weight: 400;
  margin-right: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav__item {
    margin: 22.5px 0; }
    .nav__item a {
      -webkit-transition: 0.1s all;
      transition: 0.1s all; }
      .nav__item a:hover {
        color: #1abc9c;
        padding-bottom: 17px;
        border-bottom: 5px solid #1abc9c; }
  .nav__logo {
    margin-top: 22.5px;
    margin-bottom: 22.5px; }

.banner {
  background: url(../../assets/banner.jpeg);
  background-size: cover;
  background-position: center;
  height: 72vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .banner__text {
    color: #fff; }
  .banner--accent {
    color: #00ffcd;
    font-weight: 300; }
    .banner--accent-top {
      color: #fff;
      font-weight: 300; }

.banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #fff; }

.fed-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 15px; }

@media (max-width: 520px) {
  .banner-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .fed-container {
    margin-left: 0; } }

.about {
  margin-bottom: 67px; }
  .about__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    text-align: center; }
  .about__heading {
    background: #fff;
    margin-top: 33px;
    margin-bottom: 80px; }
  .about__photo {
    border-radius: 50%;
    border: 10px solid #ecf0f1;
    margin-bottom: 30px; }
  .about__text {
    max-width: 960px;
    text-align: center;
    margin-bottom: 10px; }
    .about__text:last-of-type {
      margin-bottom: 50px; }

.vertical-line-top {
  width: 2px;
  background-color: #a1b1bc;
  height: 160px;
  position: absolute;
  top: 56px;
  z-index: -10; }

.btn-container {
  position: relative; }

.vertical-line-bottom {
  width: 2px;
  background-color: #a1b1bc;
  height: 106px;
  position: absolute;
  left: 50%;
  top: 40px; }

.skills {
  background-color: #222533;
  background-size: auto;
  padding-top: 150px; }

.skills__container {
  color: #2c3e50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 43px;
  padding-bottom: 120px; }

.skills__container i {
  font-size: 50px; }

.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.project-container {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.project, .project--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0; }
  .project__heading {
    margin-bottom: 30px; }
  .project__title {
    text-transform: uppercase;
    font-size: 1.875rem; }
  .project__image {
    width: 100%;
    display: block; }
  .project__tools {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 30px; }
    .project__tools i {
      margin-right: 10px;
      -webkit-transition: 0.2s color;
      transition: 0.2s color; }
      .project__tools i:hover {
        color: #21c2f8; }

.project--right {
  text-align: right; }

.image-container, .image-container--right {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
  max-width: 40%; }

.description-container, .description-container--right {
  max-width: 50%; }

.description-container--right {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.image-container--right {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

@media (max-width: 767px) {
  .project, .project--right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .image-container--right {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
  .image-container, .image-container--right {
    max-width: 100%;
    margin-bottom: 30px; }
  .description-container, .description-container--right {
    max-width: 100%;
    text-align: center; } }

.contact {
  background-color: #222533;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }
  .contact h2, .contact .section-heading--light {
    margin: 40px 0; }
  .contact__p {
    font-weight: 300; }
  .contact--email {
    font-size: 1.83rem;
    display: block;
    margin-bottom: 15px; }

.social-footer {
  margin-bottom: 20px; }
  .social-footer i {
    font-size: 1.5rem; }

.credits {
  color: #fff; }
  .credits a {
    color: #a1b1bc; }
    .credits a:hover {
      color: #1abc9c; }
